body{
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: #000034;
  color: white;
  height: 100px;
}
.navbar .navlist{
  text-align: center;
  list-style-type: none;
  padding: 10px;
}
.navbar .navlist .navitem{

  display: inline-block;
  margin: 30px 30px;
}
.content{
  padding: 20px;
}
.content .content-1{
  margin: 20px 10px;
  padding: 20px 10px;
  color: brown;
}
.content .content-2{
  margin: 20px 10px;
  padding: 20px 10px;
  color: green;
}
.content .content-3{
  margin: 20px 10px;
  padding: 20px 10px;
  color: red;
}


form{
  color: white;
  width: 50%;
  height: 100px;
  background-color: blue;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px blue;
}
input{
  font-weight: 500;
}
input[type='submit']{
  color: white;
  width: 50%;
  margin-top:30px;
  padding:10px;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  cursor: pointer;
  background:linear-gradient(to right , #000034, blue 60%, darkblue , #000034);
}
.result{
  color:red;
  width: 50%;
  margin:30px auto;
}







table{
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  background-color: blue;
  color: white;
}

caption{
  color: blue;
  margin: 30px auto;
}
section.content{
  display: flex;
}



@media screen and (max-width:768px) {
  section.content{
    display: block;
  }
}











*{
  font-size: 18px;
}
.hide{
  display: none;
  visibility: hidden;
}
.show{
  display: block;
  visibility: visible;
}
.small-text{
  font-size: 14px;
}

.alert{
  margin-top: 20px;
  color: blue;
  width: 100%;
  text-align: center;
  /* position: relative;
  left: 50%;
  transform: translateX(-50%;); */
}


/* a{
  width: 20rem;
  height: 5rem;
  background-color: transparent;
  margin-top: 20px;
  cursor: pointer;
  color: blue;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  border:solid 1px blue;
  box-shadow: 2px 2px 2px #3d3d3d;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}
a:hover{
  background-color: blue;
  color: white;

} */
.alert{
  display: inline-block;
  width: 70%;
  margin-left: 220px;
}
a{
  /* height: 30px; */
  margin-left: -6px;
  text-decoration: none;
  font-size: 2.05rem;
}
.alert,a{
  background-color: rgba(0 , 255 , 0 ,.6)
}

.big-text{
  font-size: 2rem;
}
