/* Layout Test in CSS */
body{
  margin: 0px;
  padding: 0px;
  background: white;
  font-size: 16px;
  font-family:"Calisto MT" ,  sans-serif;
  font-variant: small-caps;
  color: white;
  overflow-x: hidden;
}
header,nav,main,footer{
  box-shadow: 1px 1px 2px #492500;
  padding: 10px;
  width: 98%;
  margin: 10px auto;
  border-radius: 5px;
  height:15vh;
  background-color: #492500;
}
nav{
  height:10vh;
  position: sticky;
  top: 0px;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav ul li{
  display: inline-block;
  margin-left: 50px;
  font-variant: normal;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
main{
  margin:1vw 1vw 1vw 18vw;
  width: 80vw;
  height: auto;
  background-color: rgba(73 , 37 , 0 , 0.2);
  color: #492500;
  font-variant: normal;
}
main section{
  margin-bottom: 20px;
}
aside{
  padding:5px;
  height: 40vh;
  margin:.5vw;
  border-radius: 5px;
  float: left;
  width: 15vw;
  background-color: #492500;
}
aside h3{
  text-align: center
}
main section h1{
  text-align: center;
}
footer{
  height: auto;
}
footer ul{
  list-style-type: none;
  text-align: center;
}
footer ul li{
  margin-bottom:10px;
  font-variant: normal;
}
footer ul li a{
  text-decoration: none;
  color: white;
}



/* @media screen and (min-width : 996px) {

} */

@media screen and (max-width : 630px) {
  nav{
    height:10vh;
    position: sticky;
    top: 0px;
  }
  nav ul{
    list-style-type: none;
    text-align: center;
  }
  nav ul li{
    display: inline-block;
    margin-left: 20px;
    font-variant: normal;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
  }
  aside{
    padding:5px;
    height: 63vh;
    margin:1vw;
    border-radius: 5px;
    float: left;
    width: 15vw;
    background-color: #492500;
  }
  aside h3{
    text-align: center;
    font-size: 15px;
  }
  main section h2{
    text-align: center
  }
}

@media screen and (min-width : 100px) or (max-width : 436px){
  header{
    display: none;
  }
  nav{
    height:auto;
    position: sticky;
    top: 0px;
  }
  nav ul{
    list-style-type: none;
  }
  nav ul li{
    display: block;
    margin:15px;
    font-variant: normal;
  }
  nav ul li a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
  }
  nav ul li a:hover{
    background: white;
    color: #492500;
  }
  main section h2{
    text-align: center
  }
}
