<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Question Record</title>
    <link rel="stylesheet" href="./assets/css/questions.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" charset="utf-8"></script>
    <!-- <script src="./assets/js/angular.min.js" charset="utf-8"></script> -->
    <script src="./assets/js/questions.js" charset="utf-8"></script>
  </head>
  <body ng-controller="myCtrl">
    <div class="form">
      <label for="name">Enter your name : </label>
      <input type="text" name="name" ng-model="name">
      <input type="button" ng-click="addUser(name,question)" name="" value="Add User">
    </div>
    <table border="2">
      <caption>{{ val }}</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Questions</th>
          <th>Update Question</th>
          <th>Decrease Question</th>
          <th>Delete</th>
        </tr>
      </thead>
    <tbody>
      <tr ng-repeat="each in db">
        <td>{{each.name}}</td>
        <td>{{each.question}}</td>
        <td><button type="button" ng-click="each.update()" name="button">Increase</button></td>
        <td><button type="button" ng-click="each.decrease()" name="button">Decrease</button></td>
        <td><button type="button" ng-click="removeUser(each)" name="button">Remove Student</button></td>
      </tr>
    </tbody>
    </table>
  </body>

</html>
