$col : fuchsia;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
*{
  padding:0;
  margin: 0;
}
body{
  background : url(../images/fresh.jpg) repeat-y fixed top left,url(../images/nice.jpg) repeat-y fixed top right;
  color: chartreuse;
}
.form{
  color: lighten($col,10);
  input[type="text"]{
    background: none;
    color: fuchsia;
    transition: all 0.4s;
    &:not(:focus){
      background: none;
    }
    &:focus{
      border:inset fuchsia 1px;
    }
  }
  input[type='button']{
    display: block;
    margin-top: 10px;
    border: solid fuchsia 1px;
    border-radius: 5px;
    background: transparent;
    color: fuchsia;
    font-family: 'Times New Roman',sans-serif;
    font-size: 1.1rem;
    width:20.17%;
    transition: all 1s;
    &:hover{
      background: fuchsia;
      border: solid transparent 1px;
      color: white;
      cursor: pointer;

    }
  }
}
table {
  border-collapse:collapse;
  margin: 0 450px 0 450px;
  caption{
    font-family: 'Italianno', cursive;
    font-size: 30px;
  }
  thead{
    color: $col;
    font-family: 'Montserrat', sans-serif;
  }
  th{
    padding:10px;
    font-size: 16px;
    font-weight: 3900;
  }
  & tbody tr:hover{
    background: opacify(transparent,0.3);
  }
  tbody{
    tr td{
      text-align: center;
      font-family: 'Italianno', cursive;
      font-size: 26px;
      padding-left: 5px;
      button{
        border: none;
        height: 100%;
        width: 100%;
        background: transparent;
        font-family: "Montserrat" ,cursive;
        font-size: 29px;
        color: complement(blue);
        font-weight:900;
        transition: all 0.3s;
        &:hover{
          background: darken(lighten(#000011,20), 10);
          cursor: pointer;
        }
      }
    }
  }
}
table tbody tr td:nth-child(1),table tbody tr td:nth-child(2){
  color: $col;
}
table thead{
    overflow-x: hidden;
}
table thead th{
  font-size: 14px;
}
