button,input{
  display: none;
  /* visibility: hidden; */
}
div{
  background-color: fuchsia;
  width: 160px;
  height: 100px;
  padding:70px 10px 10px 10px;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 100%;
  position: relative;
  /* animation-name:test;
  animation-duration: 1s;
  animation-direction: alternate;
  /* animation-play-state: paused; */
  /*animation-timing-function:ease-in-out;
  animation-iteration-count: 10;
  animation-fill-mode: forwards; */
  animation:test 3s ease  forwards 1 ;
}
@keyframes test{
  0%{
    top:0;
    color: transparent;
    background: black;
  }
  50%{
    top: 500px;
    color : blue;
  }
  100%{
    margin-left: 500px;
    color : blue;
  }
  /* 10%{
    left: 200px;
    background: red;
  }
  50%{
    left: 300px;
    background: fuchsia;
  }
  70%{
    left: 400px;
    background: green;
  } */
}
