/* ==========================CSS=============================*/
body{
  padding:0;
  margin: 0;
}
.first{
  background: hotpink;
  height:100px;
  width: 100%;
}
.first ul{
  list-style-type: none;
}
.first ul a{
  text-decoration: none;
  color : green;
  font-weight: 900;
}
.second{
  color:fuchsia;
}
div>div h1{
  color:orange;
}
/* .first ul a[href^="h"]{
  color:blue;
} */
/* .first ul a[href$="ct"]{
  color:red;
} */
input[type="text"]:focus{
  outline:solid red 2px;
}
input[type="button"]:nth-child(1),input[type="button"]:nth-child(2),input[type="button"]:nth-child(3),input[type="button"]:nth-child(4){
  margin-left: 200px;
  border-radius: 30px;
  height:40px;
  width: 100px;
  background: transparent;
}
input[type="button"]:nth-child(even){
  color:red;
  border: 2px solid red;
}
input[type="button"]:nth-child(odd){
  color:green;
  border: 2px solid green;
}
/* input[type="button"]:nth-child(3){
  color:blue;
  border: 2px solid blue;
} */
/* h3::selection{
  color:red;
  background: black;
} */
h3::first-letter{
  color:red;
  background: black;
  font-size: 40px;
}
div::first-line{
  color:yellow;
}
h3::before{
  content: "Hello "
}
h3::after{
  content: "---"
}

/* input[type="button"]:hover{
  color:white;
  background: red;
}

input[type="button"]:focus{
  height:50px;
  width: 110px;
} */
